* {
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
}

body {
  color: #7952B3;
  overflow-y: hidden;
  margin: 0;
  background-color: #E1E8EB;
  height: 100%;
  text-align: center;
}
body p, body li {
  text-align: center;
}

#top {
  position: absolute;
  top: 1px;
  width: 1px;
  height: 1px;
}

.thirdbp-flex-container {
  justify-content: center;
}

.menu-btn-show {
  opacity: 1;
}

.menu-btn-hide {
  opacity: 0;
}

.anim {
  transition: all 0.4s ease-in-out 0.1s;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::after,
.hamburger.is-active .hamburger-inner::before {
  background: white;
  border: 1.5px black solid;
}

.hamburger-inner::after,
.hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after,
.hamburger.is-active .hamburger-inner::before {
  margin-left: -1.5px;
  margin-top: -1.5px;
  margin-bottom: -1.5px;
}

#container .sidemenu-hide {
  margin-left: calc( -1 * 190px);
}
#container .sidemenu-show {
  margin-left: 0;
}
#container .cntr-normal {
  margin-left: 0;
}
#container .cntr-move {
  margin-left: 190px;
  border-left: 3px solid #7952B3;
}
#container .display-sidemenu {
  display: flex;
}

#overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  cursor: pointer;
}

#container {
  display: flex;
}

#main {
  width: 100vw;
  min-height: 100vh;
  margin-left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

a {
  color: #7952B3;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #1C0C5B;
  text-decoration: underline;
}

.text-shadow {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.no-bg-menu-btn {
  color: #7952B3;
}

.form-input {
  padding: 10px 10px;
  margin: 5px 0;
  background-color: lightgrey;
  border-color: transparent;
  border-radius: 5px;
}

.form-input:focus {
  border: 1px solid #7952B3;
}

.info-container {
  display: none;
}

#sidemenu {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 190px;
  margin-left: calc( -1 * 190px);
  height: 100vh;
  position: fixed;
}
#sidemenu a:hover {
  text-decoration: underline;
}

.big-initial,
.main-links,
.contact-link,
.social-icons {
  border-top: 3px solid #7952B3;
  padding: 5px;
}

.big-initial {
  font-size: 64px;
  font-weight: bold;
  color: #7952B3;
  padding: 25px 5px;
}

.main-links {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 10px 0;
}
.main-links a {
  padding: 5px 0;
}

.social-icons {
  font-size: 24px;
  display: flex;
  padding: 10px;
}
.social-icons div {
  margin: 0 auto;
}
.social-icons a:first-child {
  color: #554488;
}
.social-icons a:last-child {
  color: #c9510c;
}
.social-icons a:nth-child(2) {
  color: #0077b5;
}
.social-icons a {
  padding: 0 10px;
}
.social-icons i:hover {
  color: #1C0C5B;
}

.mobile-menu-button {
  position: fixed;
  margin-left: 0;
  z-index: 3;
  left: 5px;
  top: 3px;
  font-size: 32px;
  color: white;
  cursor: pointer;
  padding: 0 12px;
  transition: opacity 0.3s ease-in-out 0.1s, left 0.4s ease-in-out 0.1s;
}

.move-menu-btn {
  left: 193px;
}

.hero-banner {
  background-image: url("../img/hero-image.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  position: relative;
  height: 300px;
}

header .hero-banner {
  height: 100vh;
}

.banner-text {
  padding-top: 110px;
  padding-bottom: 110px;
  vertical-align: middle;
}

header .banner-text {
  padding: calc(35vh) 0;
}

.float-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.float-bottom a {
  color: white;
}

.container {
  padding: 15px;
}

.project-card {
  padding: 15px 15px;
}
.project-card :nth-child(n+1) {
  margin: 0;
}

.project-thumbnail {
  width: 100%;
  transition: 0.2s;
  border-radius: 10px;
}

.project-thumbnail:hover {
  opacity: 80%;
}

.btn-project {
  padding: 3px;
}

.hl-input {
  width: calc(((100% - 30px) / 2) - 12.5px);
}

.fl-input {
  width: calc(100% - 30px);
}

.message-input {
  height: 100px;
}

.form-btn {
  padding: 10px 40px;
  font-weight: bolder;
  border: 2px solid #7952B3;
  border-radius: 5px;
  background: #E1E8EB;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  color: #7952B3;
}

#form-error-message {
  color: red;
}

#message-input {
  border-width: 2px;
}

.form-btn:hover {
  color: white;
  background-color: #7952B3;
}

.b2t-btn {
  text-align: center;
  cursor: pointer;
}

.contact-form-container {
  margin: 0 auto;
}

.project-card {
  position: relative;
}
.project-card .hover-description p {
  margin-bottom: 5px;
}

.project-card:hover .hover-description {
  display: flex;
}

.hover-description {
  background-color: #1C0C5B;
  color: #E1E8EB;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 10px;
  padding: 20px;
  min-width: 100px;
  max-width: 380px;
  z-index: 10;
  margin: 0 auto 50px auto;
}
.hover-description h3 {
  font-weight: normal;
}
.hover-description h3:after {
  content: " ";
  width: 28px;
  height: 4px;
  background-color: #1C0C5B;
  display: block;
  margin: 8px auto 8px auto;
}
.hover-description p {
  font-size: 13px;
}

.arrow {
  position: absolute;
  top: -35px;
  left: 41%;
  margin-left: -36px;
}

.arrow:after {
  content: "";
  margin: auto;
  display: inline-block;
  border-color: transparent transparent #1C0C5B;
  border-style: solid;
  border-width: 0 36px 36px;
}

.about-me-container {
  width: 100%;
}

.about-me-img {
  border-radius: 50%;
  height: 128px;
}

.link {
  text-decoration: underline;
}

#coding-examples pre {
  margin: 0 auto;
  padding: 8px;
  border-radius: 10px;
  max-width: calc(100vw - 100px);
  font-size: 8px;
}

.code-title,
.code-description {
  margin-left: auto;
  margin-right: auto;
}

.code-description a {
  color: #1C0C5B;
}
.code-description a:hover {
  color: #7952B3;
}

#scs li {
  list-style: none;
}

#unityContainer {
  width: 90vw;
  height: 51vw;
}

@media only screen and (min-width: 300px) {
  #coding-examples pre {
    font-size: 10px;
  }
}
@media only screen and (min-width: 380px) {
  .container {
    width: calc(380px - 30px);
    margin: 0 auto;
  }

  .project-card {
    padding: 15px 0;
    width: calc(380px - 90px);
  }

  .project-card-container,
.contact-info-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .project-thumbnail {
    height: 180px;
  }

  #coding-examples pre {
    font-size: 12px;
    width: calc(380px - 70px);
  }
}
@media only screen and (min-width: 650px) {
  .container {
    width: calc(650px - 50px);
  }

  .thirdbp-flex-container {
    display: flex;
  }

  .project-card {
    width: calc((650px - 50px) / 2 - 60px);
  }

  .project-thumbnail {
    height: 160px;
  }

  .contact-info-section {
    display: flex;
    flex-wrap: wrap;
  }

  .contact-form-container,
.info-container {
    width: calc(90% - 10px);
  }

  .contact-form-container {
    padding-top: 54px;
  }

  .message-input {
    height: 215px;
  }

  .hero-banner {
    width: auto;
  }

  .about-me-img {
    height: 256px;
  }

  #fname-input,
#lname-input {
    width: calc(650px / 2 - 90px);
  }

  .code-content {
    display: flex;
    justify-content: center;
  }

  #coding-examples pre {
    font-size: 14px;
    width: 370px;
    margin: 0 15px;
  }

  .code-description {
    font-size: 16px;
    max-width: 420px;
    margin: 0 15px;
    padding-right: 20px;
  }
}
@media only screen and (min-width: 1050px) {
  body p, body li, body h4 {
    text-align: left;
  }

  #scs li {
    list-style: inside;
  }
  #scs p {
    margin: 0 30px;
  }

  .about-me-container {
    display: flex;
    justify-content: space-between;
  }

  #container #main {
    border-left: 3px solid #7952B3;
    width: calc(100vw - 190px);
    margin-left: 190px;
  }
  #container .sidemenu-hide {
    margin-left: 0;
  }

  #sidemenu {
    margin-left: 0;
  }

  .mobile-menu-button {
    display: none;
  }

  .container {
    width: calc(1050px - (50px + 190px));
  }

  .project-card {
    width: calc((1050px - (50px + 190px)) / 2 - 80px);
  }

  .project-thumbnail {
    height: 220px;
  }

  .about-me-container {
    margin: 0 auto;
  }

  .about-me-text {
    margin-left: 30px;
  }

  #coding-examples pre,
.code-description {
    margin-left: 15px;
    margin-right: 15px;
  }

  pre {
    width: 500px;
  }

  #fname-input,
#lname-input {
    width: calc((1050px - 190px) / 2 - 97px);
  }

  #coding-examples pre {
    width: 530px;
  }
}
@media only screen and (max-width: 1050px) {
  #scs ul {
    padding-left: 0;
  }
}
@media only screen and (min-width: 1300px) {
  #scs .scs-text {
    display: flex;
    justify-content: left;
  }
  #scs .scs-text:last-child {
    flex-direction: row-reverse;
  }
  #scs .treehouse-profile {
    margin-left: 60px;
    text-align: left;
  }

  .container {
    width: calc(1300px - 190px - 50px);
  }

  .project-card-container {
    margin: 0 auto;
    width: calc(2 * (1300px - 190px) / 3 + 65px);
  }

  .contact-info-section {
    width: calc((1300px - 190px) / 3 - 50px);
  }

  #fname-input,
#lname-input {
    width: calc((1300px - 190px) / 4 - 168px);
  }

  .about-me-container {
    justify-content: center;
  }

  .about-me-text {
    width: 700px;
  }
}
@media only screen and (min-width: 1600px) {
  #scs .treehouse-profile {
    margin-left: 230px;
  }

  .container {
    width: calc(1600px - 190px - 50px);
  }

  .project-card,
.hover-description {
    width: calc((1600px - 190px) / 3 - 50px);
  }

  .project-thumbnail {
    height: 280px;
  }

  pre {
    width: 600px;
  }

  #main-content {
    display: flex;
    flex-wrap: nowrap;
  }

  .project-card-container {
    width: calc(2 * (1600px - 190px) / 3 + 50px);
  }

  .contact-info-section {
    width: calc((1600px - 190px) / 3 - 50px);
  }

  #fname-input,
#lname-input {
    width: calc((1600px - 190px) / 4 - 205px);
  }

  #email-input {
    width: calc((1600px - 190px) / 2 - 370px);
  }

  #fname-input, #lname-input,
#email-input, #subject-input,
#message-input, #submit-btn {
    margin-left: 5px;
    margin-right: 5px;
  }
}/*# sourceMappingURL=style.css.map */