* {
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
}

body {
  color: olive;
  overflow-y: hidden;
  margin: 0;
  background-color: honeydew;
  height: 100%;
}

.menu-btn-show {
  opacity: 1;
}

.menu-btn-hide {
  opacity: 0;
}

.anim {
  transition: all 0.4s ease-in-out 0.1s;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::after,
.hamburger.is-active .hamburger-inner::before {
  background: white;
}

#container .sidemenu-hide {
  margin-left: calc( -1 * 190px);
}
#container .sidemenu-show {
  margin-left: 0;
}
#container .cntr-normal {
  margin-left: 0;
}
#container .cntr-move {
  margin-left: 190px;
  border-left: 3px solid olive;
}
#container .display-sidemenu {
  display: flex;
}

#overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  cursor: pointer;
}

#container {
  display: flex;
}

#main {
  width: 100vw;
  min-height: 100vh;
  margin-left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

a {
  color: olive;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: forestgreen;
  text-decoration: underline;
}

.text-shadow {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.no-bg-menu-btn {
  color: olive;
}

.form-input {
  padding: 10px 10px;
  margin: 5px 0;
  background-color: lightgrey;
  border-color: transparent;
  border-radius: 5px;
}

.form-input:focus {
  border: 1px solid olive;
}

.info-container {
  display: none;
}

#sidemenu {
  display: flex;
  flex-direction: column;
  min-width: 190px;
  margin-left: calc( -1 * 190px);
  height: 100vh;
  position: fixed;
}
#sidemenu a:hover {
  text-decoration: underline;
}

.big-initial,
.main-links,
.contact-link,
.social-icons {
  border-top: 3px solid olive;
  text-align: center;
  padding: 5px;
}

.big-initial {
  font-size: 64px;
  font-weight: bold;
  color: olive;
  padding: 25px 5px;
}

.main-links {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 10px 0;
}
.main-links a {
  padding: 5px 0;
}

.social-icons {
  font-size: 24px;
  display: flex;
  padding: 10px;
}
.social-icons div {
  margin: 0 auto;
}
.social-icons a:first-child {
  color: #554488;
}
.social-icons a:last-child {
  color: #c9510c;
}
.social-icons a:nth-child(2) {
  color: #0077b5;
}
.social-icons a {
  padding: 0 10px;
}
.social-icons i:hover {
  color: forestgreen;
}

.mobile-menu-button {
  position: fixed;
  margin-left: 0;
  z-index: 3;
  left: 5px;
  top: 3px;
  font-size: 32px;
  color: white;
  cursor: pointer;
  background-color: indigo;
  padding: 0 12px;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out 0.1s, left 0.4s ease-in-out 0.1s;
}

.move-menu-btn {
  left: 193px;
}

.hero-banner {
  background-image: url("../img/hero-image.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  position: relative;
  height: 100vh;
}

.banner-text {
  vertical-align: middle;
  padding: calc(35vh) 0;
}

.float-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.float-bottom a {
  color: white;
}

.container {
  padding: 15px;
}

.project-card {
  padding: 15px 0;
}
.project-card :nth-child(n+1) {
  margin: 0;
}

.project-thumbnail {
  width: 100%;
  transition: 0.2s;
  border-radius: 10px;
}

.project-thumbnail:hover {
  opacity: 80%;
}

.btn-project {
  padding: 3px;
}

.hl-input {
  width: calc(((100% - 30px) / 2) - 12.5px);
}

.fl-input {
  width: calc(100% - 30px);
}

.message-input {
  height: 100px;
}

.form-btn {
  padding: 10px 40px;
  font-weight: bolder;
  border: 2px solid olive;
  border-radius: 5px;
  background: honeydew;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  color: olive;
}

.form-btn:hover {
  color: white;
  background-color: olive;
}

.b2t-btn {
  text-align: center;
  cursor: pointer;
}

.contact-form-container {
  margin: 0 auto;
}

.about-me-container {
  text-align: center;
}

.about-me-img {
  border-radius: 50%;
  height: 128px;
}

.link {
  text-decoration: underline;
}

#coding-examples .hero-banner {
  height: 300px;
}
#coding-examples .banner-text {
  padding-top: 110px;
  padding-bottom: 110px;
}
#coding-examples pre {
  margin: 0 auto;
  padding: 8px;
  border-radius: 10px;
}

.code-title,
.code-description {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 576px) {
  .container {
    width: 530px;
    margin: 0 auto;
  }

  .project-card-container,
.contact-info-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .project-card {
    width: 240px;
  }

  .project-thumbnail {
    height: 150px;
  }

  pre,
.code-description {
    max-width: 576px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: 718px;
  }

  .project-card {
    width: calc(718px / 2 - 20px);
  }

  .project-thumbnail {
    height: 230px;
  }

  .contact-info-section {
    display: flex;
    flex-wrap: wrap;
  }

  .contact-form-container,
.info-container {
    width: calc(90% - 10px);
  }

  .contact-form-container {
    padding-top: 54px;
  }

  .message-input {
    height: 215px;
  }

  .hero-banner {
    width: auto;
  }

  .about-me-img {
    height: 256px;
  }
}
@media only screen and (min-width: 992px) {
  #container #main {
    border-left: 3px solid olive;
    width: calc(100vw - 190px);
    margin-left: 190px;
  }
  #container .sidemenu-hide {
    margin-left: 0;
  }

  #sidemenu {
    margin-left: 0;
  }

  .mobile-menu-button {
    display: none;
  }

  .container {
    width: calc(942px - 190px);
  }

  .project-card {
    width: calc((942px - 190px) / 2 - 20px);
  }

  .project-thumbnail {
    height: 230px;
  }

  .about-me-container {
    width: calc(942px - 190px);
    margin: 0 auto;
  }

  .code-content {
    display: flex;
    justify-content: center;
  }

  #coding-examples pre,
.code-description {
    margin-left: 15px;
    margin-right: 15px;
  }

  pre {
    width: 400px;
  }

  .code-description {
    width: 300px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: calc(1150px - 190px);
  }

  .project-card {
    width: calc((1150px - 190px) / 2 - 20px);
  }

  .project-thumbnail {
    height: 300px;
  }

  pre {
    width: 600px;
  }
}/*# sourceMappingURL=style.css.map */